header {
  margin: 2em 0;
  text-align: center;
}

h1 {
  display: inline-block;
  margin: 0 2em;
  font-size: 30px;
}

h2 {
  text-align: center;
}

form {
  display: inline-block;
  text-align: center;
  margin-bottom: 2em;
}

#newNumberButton {
  font-size: 30px;
}

.nOnTable {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.5em;
  text-align: center;
  margin: 0.2em 0.2em;
  border: 1px solid #fa0000;
  border-radius: 50%;
  background-color: #df9322;
}

.extract {
  background-color: #000000;
  color: white;
}

.nPlayer {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.5em;
  text-align: center;
  margin: 0.2em 0.2em;
  border: 1px solid #fa0000;
  border-radius: 50%;
  background-color: #df9322;
}

.tPlayer {
  background: #8bc34a;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em 1em;
  margin: 2em 0;
}

#tableGame {
  background: #eef589;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em 1em;
}
